[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
redis = "*"
wtforms = "*"
gunicorn = "*"
psycopg = {extras = ["binary"], version = "*"}

[dev-packages]
bpython = "*"

[requires]
python_version = "3.11"
