
.event-stack {

	.event:not(:last-of-type) {
		border-bottom: 1px solid lightgray;
		margin-block-end: var(--base-unit-size);
		padding-block-end: var(--base-unit-size);
	}

	.event-details {
		flex-direction: column-reverse;

	}

	.dates-row {
		gap: calc(3 * var(--base-unit-size));
	}

	@media (width >= 80ch) {
		gap: calc(6 * var(--base-unit-size));

		.event {
			border-bottom: none;
		}

		.event-details {
			flex-direction: row;
			gap: calc(4 * var(--base-unit-size));
		}

		.dates-row {
			gap: calc(2 * var(--base-unit-size));
		}
	}

	@media (width >= 50ex) {
		.dates-row {
			justify-content: flex-start;
		}
	}

	.comment {
		font-size: 80%;
	}
}
