<!doctype HTML>
<html lang="en">
<head>
	<title>{% block title %}{% endblock %}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	{% include 'fragments/bootstrap.html' %}

	<link rel="stylesheet" href="{{url_for('static', filename='base.css')}}" />
	<link rel="stylesheet" href="{{url_for('static', filename='custom.css')}}" />
	<body>
		<div class="container">
			{% block navbar %}
			{% include 'navigation/navbar.html' %}
			{% endblock %}

			{% block content %}
			{% endblock %}
		</div>
	</body>
	</html>
