{% extends 'default.html' %}

{% block title %}Events{% endblock %}

{% block content %}
<div class="container">
	<h1>Events</h1>

	<div class="stack event-stack">
		{% for event in events %}
		<div class="stack">
			<div class="event-details stack">
				<div class="dates-row cluster space-between">
					<time>{{event.start_date}}</time>
					<time>{{event.end_date}}</time>
				</div>
				<div>
					{% if event.url %}<a href="{{event.url}}" target="_blank">{% endif %}
						{{event.name}}
					{% if event.url %}</a>{% endif %}
				</div>
			</div>
			{% if event.comment %}
			<div class="comment">
				{{event.comment}}
			</div>
			{% endif %}
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}